{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block body %}
<h2>{% trans "List of quizzes" %}</h2>
    {% if quiz_list %}
		<table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
			  {% comment %} <th>{% trans "Category" %}</th> {% endcomment %}
			  {% comment %} <th>{% trans "Exam" %}</th> {% endcomment %}
			  <th>{% trans "Single attempt" %}</th>
			  <th></th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}
			{% if quiz.exam_paper %}
				<tr>
				<td>{{ quiz.title }}</td>
				{% comment %} <td>{{ quiz.category }}</td> {% endcomment %}
				{% comment %} <td>{{ quiz.exam_paper }}</td> {% endcomment %}
				<td>{{ quiz.single_attempt }}</td>
				<td>
					<a href="{% url 'quiz_start_page' slug=quiz.url %}">
					{% trans "View details" %}	
					</a>
				</td>
				</tr>
			{% endif %}
        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "There are no available quizzes" %}.</p>
    {% endif %}
{% endblock %}
